#about {
  position: relative;
  background: linear-gradient(180deg, #34344b, #11111a);
  padding: 4rem 0;
  min-height: 70vh;
}

#about::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../../../assets/diagmonds-light.png");
  opacity: 0.1; /* Very subtle effect */
  z-index: 0;
  pointer-events: none;
}

#about > .about-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.about-description,
.about-skills {
  flex: 1 1 0;
  min-width: 0;
}

.about-description {
  margin-right: 2rem;
}

.about-skills {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (max-width: 900px) {
  #about > .about-container {
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 1rem;
    align-items: center; // Center items on mobile
  }
  .about-description,
  .about-skills {
    margin: 0;
    width: 100%;
    max-width: 500px;
  }
  .about-skills {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

.card {
  background: rgba(31, 41, 55, 0.7);
  border-radius: 1.25rem;
  box-shadow: 0 4px 24px 0 rgba(31, 38, 135, 0.25);
  padding: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
}

.animate-slide-up {
  animation: slide-up 0.6s ease forwards;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out-modal 0.2s ease-in forwards;
}
