<div
  class="flex justify-between md:justify-end gap-0 md:gap-6 text-3xl text-primary w-full px-8 md:px-0"
>
  <a
    href="https://www.linkedin.com/in/justinschieck/"
    target="_blank"
    class="hover:text-accent-indigo transition-colors duration-300 p-2"
    aria-label="LinkedIn"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a
    href="https://github.com/JustinSchieck"
    target="_blank"
    class="hover:text-accent-indigo transition-colors duration-300 p-2"
    aria-label="GitHub"
  >
    <i class="fa-brands fa-github"></i>
  </a>
  <a
    href="assets/JustinSchieckResume.pdf"
    download
    class="hover:text-accent-indigo transition-colors duration-300 p-2"
    aria-label="Download Resume"
  >
    <i class="fa-solid fa-file-arrow-down"></i>
  </a>
  <a
    href="mailto:schieck91@gmail.com"
    class="hover:text-accent-indigo transition-colors duration-300 p-2"
    aria-label="Email"
  >
    <i class="fa-solid fa-envelope"></i>
  </a>
</div>
